<h1>Edit the Product's Information</h1>

  <form method="POST" action="/products/{{id}}?_method=PUT" enctype="application/x-www-form-urlencoded">
    <input type="text" name= "name" value= {{name}}>
    <input type="text" name= "price" value= {{price}}>
    <input type="text" name= "inventory" value= {{inventory}}>
    <br><br>
    <input type="submit" value="Submit">
  </form>