<h1>Edit the Product's Information</h1>

  <form method="PUT" action="/resource" enctype="application/x-www-form-urlencoded">
    <input type="text" name= "productName" value= {{name}}>
    <input type="text" name= "productPrice" value= {{price}}>
    <input type="text" name= "productInventory" value= {{inventory}}>
    <input type="text" name= "productID" value= {{id}}>
    <br><br>
    <input type="submit" value="Submit">
  </form>