<h1>Product Catalog</h1>

{{#each catalog}}
  <div class = 'product'>
    <h1>product: {{name}}</h1>
    <p>price: {{price}}</p>
    <p>inventory: {{inventory}}</p>
    <p>id: {{id}}</p>
  </div>
{{/each}}
