<h1>Add a New Product</h1>
<h1>{{newProductError}}</h1>
   <form method="POST" action="/products" enctype="application/x-www-form-urlencoded">
    <input type="text" name= "name" value= 'Product Name'>
    <input type="text" name= "price" value= 'Price'>
    <input type="text" name= "inventory" value= 'Inventory'>
    <br><br>
    <input type="submit" value="Submit">
  </form>