<h1>Here's the Product You're Looking For!</h1>

  <div class = 'product'>
    <h1>product: {{name}}</h1>
    <p>price: {{price}}</p>
    <p>inventory: {{inventory}}</p>
    <p>id: {{id}}</p>
  </div>
